{% extends 'base.html' %} {% block title %}About{% endblock %} {% block
    content %}
        <h1 class="fw-bold text-center mt-4 mb-4">Welcome to Translator</h1>
        <div class="container about-container text-center p-5 shadow">
            <p>
                Do you need to translate text from one language to another? Whether you are learning a new language, traveling abroad, or communicating with people from different cultures, you can use this translator website to easily and quickly convert text into multiple languages. This website is built with Python and Flask, and uses the Google Translate API to provide accurate and reliable translations. It is also free to use, so you don’t have to worry about any fees or subscriptions.
            </p>
            <p>
                This website supports over 100 languages, including English, Spanish, French, German, Chinese, Arabic, Hindi, and more. You can also switch between languages easily.
            </p>
            <p>
                This website is a simple and convenient tool for anyone who needs to translate text for any purpose. It is fast, accurate, and user-friendly. Try it out today and see for yourself how easy it is to translate text with this website. 😊
            </p>
        </div>
  {% endblock %}